{% extends 'base.html.twig' %}

{% block content %}

    IL VALORE di TEST è : {{ test }}

    <!--un form che ci serve ad invocare la route / con il metodo POST-->
    <form action="/" method="post">
        <input type="text" name="prova" id="prova">
        <button type="submit">submit</button>
    </form>

{% endblock %}