{% extends 'base.html.twig' %}

{% block content %}

    <!--un form che ci serve ad invocare la route / con il metodo POST-->
    <ul>
        {% for contact in contacts %}
            <li>
                {{contact}}
            </li>
        {% endfor %}
    </ul>

{% endblock %}